@import "tailwindcss";

@theme {
    --font-title: var(--font-inter-title);
    --font-sans: var(--font-aladin-sans);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--font-title);
    }
}
